<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">About Page</h1>
      <p class="lead">This is the about page of the StarStable Wiki.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="h4">Details</h2>
      <ul class="list-group">
        <li class="list-group-item">Name: Your Name</li>
        <li class="list-group-item">Student Number: Your Student Number</li>
        <li class="list-group-item">Description: A meaningful and complete description of your case.</li>
        <li class="list-group-item">ERD: An ERD of your data model.</li>
        <li class="list-group-item">Functional Requirements: A table with functional requirements (FR) as in the example below. Use the user-story approach, i.e., "As a [user], I want [functionality], so that [benefit]."</li>
      </ul>
    </div>
  </div>
</div>
