<div class="container mt-5" *ngIf="stable">
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h2 class="card-title h4">{{ stable.name }}</h2>
      <hr />
      
      <p class="card-text">
        <strong>ID:</strong> {{ stable._id }}
      </p>
      
      <p class="card-text">
        <strong>Location:</strong> {{ stable.location }}
      </p>

      <div class="mt-3">
        <button class="rounded-pink-btn edit me-2" [routerLink]="['/stable-form', stable._id]">
          <i class="bi bi-pencil"></i> Edit
        </button>
        <button class="rounded-pink-btn delete" (click)="onDelete()">
          <i class="bi bi-trash"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>